<div class="docs-footer">
  <div class="docs-footer-list">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h3>РОСМОП</h3>
          <hr class="m-y-2">
          <p>
            Решения для клининга
          </p>
        </div>
        <div class="col">
          <h3 class="text-center"><mat-icon>query_builder</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-center text-overflow">
            ПН-ПТ: 09:00 - 18:00
          </p>
        </div>
        <div class="col">
          <h3 class="text-sm-center"><mat-icon>phone_iphone</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-md-center">
            <a href="tel:84722225010">8 (4722) 22-50-10</a>
          </p>
        </div>
        <div class="col">
          <h3 class="text-sm-center"><mat-icon>mail_outline</mat-icon></h3>
          <hr class="m-y-2">
          <p class="text-sm-center">
            <a href="mailto:info@rosmop.ru" target="_blank">info@rosmop.ru</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sm-empty"></div>
