<div class="ptbh">
  <div class="container h-100">
    <div class="row justify-content-center align-self-center">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center c-title">Контакты</h1>
        </div>
        <div class="col-12 mt-5">
          <div class="row">
            <div class="col mr-xl-2 mr-lg-2 mr-md-2">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <p class="contact-item"><strong>ООО «Росмоп»:</strong> Россия, г. Белгород, пр. Богдана Хмельницкого 135 б, оф. 205</p>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <p class="contact-item"><strong>Телефон:</strong> <a href="tel:+74722225010">+7 (4722) 22-50-10</a></p>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <p class="contact-item"><strong>Факс:</strong> <a href="tel:+74722201436">+7 (4722) 20-14-36</a></p>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <p class="contact-item"><strong>Email: </strong><a href="mailto:info@rosmop.ru" target="_blank">info@rosmop.ru</a></p>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <p class="contact-item"><strong>VK: </strong><a href="http://vk.com" target="_blank">vk.com/yourgroup</a></p>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <p class="contact-item"><strong>Facebook: </strong><a href="http://facebook.com" target="_blank">facebook.com/yourgroup</a></p>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="w-100 m-2 d-xl-none d-lg-none"></div>
            <div class="col">
              <div class="card">
                <img src="/assets/img/png/map.PNG"  class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
