<nav id="main-menu">
  <a docs-button mat-button routerLink="/" routerLinkActive="active">
    РосМоп
  </a>
  <a docs-button mat-button routerLink="/news" routerLinkActive="active">
    Новости
  </a>

  <a docs-button mat-button routerLink="/product" routerLinkActive="active">
    Продукция
  </a>
  <a docs-button mat-button routerLink="/readysolutions" routerLinkActive="active">
    Готовые решения
  </a>
  <a docs-button mat-button routerLink="/blog" routerLinkActive="active">
    Блог
  </a>
  <a docs-button mat-button routerLink="/contacts" routerLinkActive="active">
    Контакты
  </a>
  <a docs-button mat-button routerLink="/auth" routerLinkActive="active">
    Авторизоваться
  </a>

  <div class="flex-spacer"></div>

  <a docs-button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="!(auth.user | async)" (click)="goToRout('auth')">
      <span>Авторизоваться</span>
    </button>
    <button mat-menu-item *ngIf="auth.user | async" (click)="goToRout('adminka/productedit')">
      <span>Редактировать товары</span>
    </button>
    <button mat-menu-item *ngIf="auth.user | async" (click)="goToRout('adminka/newsedit')">
      <span>Редактировать новости</span>
    </button>
    <button mat-menu-item *ngIf="auth.user | async" (click)="goToRout('adminka/blogedit')">
      <span>Редактировать блог</span>
    </button>
    <button mat-menu-item *ngIf="auth.user | async" (click)="goToRout('adminka/filemanager')">
      <span>Файловый менеджер</span>
    </button>
    <button mat-menu-item *ngIf="auth.user | async" (click)="logOut()">
      <span>Выход</span>
    </button>
  </mat-menu>


</nav>
