<nav id="main-menu">
  <a docs-button mat-button routerLink="/home" routerLinkActive="active">
    РосМоп
  </a>
  <a docs-button mat-button routerLink="/news" routerLinkActive="active">
    Новости
  </a>

  <a docs-button mat-button routerLink="/product" routerLinkActive="active">
    Продукция
  </a>
  <a docs-button mat-button routerLink="/readysolutions" routerLinkActive="active">
    Готовые решения
  </a>
  <a docs-button mat-button routerLink="/blog" routerLinkActive="active">
    Блог
  </a>
  <a docs-button mat-button routerLink="/contacts" routerLinkActive="active">
    Контакты
  </a>

  <div class="flex-spacer"></div>

  <a docs-button mat-button routerLink="/home" routerLinkActive="active">
    <mat-icon>airplay</mat-icon>
    SI
  </a>
</nav>
