nav {
  height: 64px;
  position: fixed;
  z-index: 10;
  padding: 8px 16px;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  background-color: rgba(255,255,255, .2);
}
.nav-colored {
  background-color: hsla(0,0%,100%,.87);
  animation: emergence 0.4s ease-in-out;
}

@keyframes emergence {
  from {
    background-color: transparent;
  }
  to{
    background-color: hsla(0,0%,100%,.87);
  }
}

nav a {
  color: #0089ff;
  text-decoration: none;
  padding: 0 5px;
  cursor: pointer;
  font-size: 0.92rem;
}

a:hover, .active {
  color: orangered !important;
  /*background-color: rgba(100,100,100, 0.1);*/
  text-decoration: none;
  border-radius: 3px;
}

.sm-bottom-menu {
  position: fixed;
  height: 56px;
  background-color: rgba(255,255,255, 0.82);
  bottom: 0;
  z-index: 999;
  display: none;
}

.flex-spacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 650px) {
  .main-menu {
    display: none !important;
  }
  .sm-bottom-menu {
    display: block;
  }
}
@media (min-width: 900px) {
  /*.social-link-lg {*/
    /*display: block;*/
  /*}*/
  .social-image-lg {
    display: block;
  }
  .social-links-button {
    display: none !important;
  }
}
@media (max-width: 899px) {
  .social-link-lg {
    display: none;
  }
  .social-image-lg {
    display: none;
  }
  .social-link {
    display: block;
    padding: 5px 10px;
  }
}

