<nav  class="mat-elevation-z12">
  <a docs-button mat-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>
  <a docs-button mat-button routerLink="/product" routerLinkActive="active">
    Продукция
  </a>

  <div class="flex-spacer"></div>

  <a docs-button mat-button routerLink="/home" routerLinkActive="active">
    <mat-icon>face</mat-icon>
    Facebook
  </a>
  <a docs-button mat-button routerLink="/home" routerLinkActive="active">
    <mat-icon>airplay</mat-icon>
    youtube
  </a>
</nav>
