<div class="container ptbh">
  <h1 class="text-center mb-3">Готовые решения</h1>
  <div class="row d-flex align-items-stretch justify-content-around pb-4">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <mat-card class="mat-elevation-z6">
        <img mat-card-image src="/assets/img/readysolutions/med.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3 class="text-center">Мед. учреждения</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/readysolutions">Подробнее</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-4 mt-sm-4 mt-md-0 mt-lg-0 mt-xl-0">
      <mat-card class="mat-elevation-z6">
        <img mat-card-image src="/assets/img/readysolutions/marketcenter.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3 class="text-center">Торговые центры</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/readysolutions">Подробнее</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-4 mt-sm-4 mt-md-4 mt-lg-0 mt-xl-0">
      <mat-card class="mat-elevation-z6">
        <img mat-card-image src="/assets/img/readysolutions/office.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3 class="text-center">Офисные помещения</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/readysolutions">Подробнее</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
      <mat-card class="mat-elevation-z6">
        <img mat-card-image src="/assets/img/readysolutions/marketcenter.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3 class="text-center">Торговые центры</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/readysolutions">Подробнее</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
      <mat-card class="mat-elevation-z6">
        <img mat-card-image src="/assets/img/readysolutions/med.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3 class="text-center">Мед. учреждения</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/readysolutions">Подробнее</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
