<div class="landing-container">

  <div class="main-lang" id="main-lang">
    <div class="label-container">
      <div class="org-label revealator-fadein">
        <h1 class="revealator-slideleft revealator-delay2 revealator-duration5"><span class="org-label-red">РОС</span><span class="org-label-blue">МОП</span></h1>
        <h3 class="revealator-slideleft revealator-delay4 revealator-duration5">Лидер на рынке клининговых товаров и услуг</h3>
      </div>
    </div>
  </div>

  <div class="about-org" id="about-org">
    <div class="col-lg-3 flex-container revealator-slideleft">
      <mat-card class="example-card mat-elevation-z12">
        <mat-card-header>
          <img src="/assets/img/png/quality.png">
        </mat-card-header>
        <mat-card-content>
          <h3>Качество</h3>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 flex-container revealator-slideleft revealator-delay2">
      <mat-card class="example-card mat-elevation-z12">
        <mat-card-header>
          <img src="/assets/img/png/purse.png">
        </mat-card-header>
        <mat-card-content>
          <h3>Цена</h3>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 flex-container revealator-slideleft revealator-delay4">
      <mat-card class="example-card mat-elevation-z12">
        <mat-card-header>
          <img src="/assets/img/png/like.png">
        </mat-card-header>
        <mat-card-content>
          <h3>Гарантия</h3>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 flex-container revealator-slideleft revealator-delay6">
      <mat-card class="example-card mat-elevation-z12">
        <mat-card-header>
          <img src="/assets/img/png/delivery.png">
        </mat-card-header>
        <mat-card-content>
          <h3>Доставка</h3>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="reviews-org">
    <div class="col-lg-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="flex_box">
              <div class="col-lg-12 flex-container reviews-org-carousel-txt">
                <h3 class="text-center">Евроклининг</h3>
                <p>
                  Компания «Евроклининг» в лице генерального директора Ермишкиной Л. Е. и технического директора Загарина Е. В., выражает свою благодарность компании «Росмоп» за плодотворное и взаимовыгодное сотрудничество в течение многих лет. Компания «Росмоп» зарекомендовала себя как надежный партнер. Качество производимой продукции соответствует высоким требованиям нашей компании.
                </p>
                <p class="text-right">
                  Технический директор ООО «Группа компаний «Евроклининг» Евгений Загарин
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex_box">
              <div class="col-lg-12 flex-container reviews-org-carousel-txt">
                <h3 class="text-center">Ярмаг</h3>
                <p>
                  Качество образцов, которые мы получили (от «Росмоп»), очень понравилось нашим клиентам. Оно вполне сравнимо с качеством аналогичной продукции других европейских производителей. Клиенты обратили внимание на хорошее качество пошива изделий. Качество сырья отвечает требуемым стандартам.
                </p>
                <p class="text-right">
                  Директор по маркетингу Беата Хиз
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex_box">
              <div class="col-lg-12 flex-container reviews-org-carousel-txt">
                <h3 class="text-center">Чистый Томск</h3>
                <p>Данные мопы используются для еженедельной влажной уборки в подъездах жилых домов. За шестимесячный период эксплуатации мопы пережили работу при температуре в помещении от +3*С до +25*С, хранение более 8 часов при температуре -30*С (замораживание в лед отработавших мопов), ожидание стирки в отработавшем состоянии более 12 часов в температуре +30*С, PH моющего раствора от 3 до 13, более 20 двухчасовых дезинфицирующих стирок при температуре +90*С, более 130 полуторачасовых стирок при температуре +70*С. За период эксплуатации просохнуть мопы успели не более 4х раз. В этих условиях все мопы сохранили эксплуатационные характеристики и внешний вид.</p>
                <p class="text-right">Директор ООО «Чистый Томск» Владимир Малосаев</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products-org">
    <div class="col-lg-12">
      <div id="products-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="flex_box">
              <div class="col-lg-9 flex-container">
                <mat-card class="example-card mat-elevation-z12">
                  <mat-card-header>
                    <h3>МК - Комбинированный петельный</h3>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3">
                          <img src="/assets/img/products/kombi-1_285x190_cbresized.jpeg" width="100%">
                        </div>
                        <div class="col-lg-9">
                          <p>
                            Обладает всеми преимуществами петельного хлопкового мопа, плюс ко всему добавление 6-ти рядов микрофибры делает уборку более легкой. Объемные волокна микрофибры хорошо оттирают грязь без дополнительных усилий. Хорошо подходит для систем уборки путем замачивания мопов.
                            <br>
                            Влагопоглащение 270% (ГОСТ 3816)
                          </p>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex_box">
              <div class="col-lg-9 flex-container">
                <mat-card class="example-card mat-elevation-z12">
                  <mat-card-header>
                    <h3>Тележка Росмоп Про Мини</h3>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3">
                          <img src="/assets/img/products/jet731S_285x190_cbresized.jpeg" width="100%">
                        </div>
                        <div class="col-lg-9">
                          <p>
                            Особенностью тележки Росмоп Про Мини является то, что ее можно легко переоборудовать в двух ведерную тележку для уборки классическим способом ведро+отжим+швабра. Для этого необходим отдельно докупить:
                            <br>Два прямоугольных 25-ти литровых вёдер;
                            <br>Механический отжим.
                          </p>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex_box">
              <div class="col-lg-9 flex-container">
                <mat-card class="example-card mat-elevation-z12">
                  <mat-card-header>
                    <h3>Держатель мопа Росмоп Про</h3>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3">
                          <img src="/assets/img/products/IMG_1058_3_285x190_cbresized.png" width="100%">
                        </div>
                        <div class="col-lg-9">
                          <p>
                            Держатель мопа для уборки подготовленными мопами. Данный держатель разработан и запатентован совместно с МИУЗ.
                            <br>
                            Принцип нашей системы уборки базируется на применении готовых к использованию, заранее пропитанных насадок, которые используются на определенной поверхности до тех пор, пока не исчерпают свою способность собирать грязь. После использования насадки собираются и перемещаются в стиральную машину для последующей стирки. Выстиранные мопы укладываются в ведро и заливаются моющим раствором для пропитывания. После этого ведро закрывается герметичной крышкой и может в таком виде хранится до трёх суток (при использовании специализированных моющих концентратов).
                          </p>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#products-carousel" role="button" data-slide="prev">
          <mat-icon aria-hidden="true" style="color: black; font-size: 50px;">navigate_before</mat-icon>
        </a>
        <a class="carousel-control-next" href="#products-carousel" role="button" data-slide="next">
          <mat-icon aria-hidden="true" style="color: black; font-size: 50px;">navigate_next</mat-icon>
        </a>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
