@import url(http://allfont.ru/allfont.css?fonts=roboto-thin);

.landing-container {
  background: #fafafa url(/assets/img/main/bkg.svg) no-repeat 50% 0;
  background-size: cover;
}

.landing-container {
  width: 100%;
}
/*GLOBAL*/
@media (min-width: 400px) {
  h1 {
    font-size: calc(1em + 5vw);
  }
}

@media (max-width: 399px) {
  h1 {
    font-size: calc(0.7em + 5vw);
  }
}
h3 {
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 400px) {
  h3 {
    font-size: calc(1.7rem + 1vw);
  }
}
@media (max-width: 399px) {
  h3 {
    font-size: calc(1em + 1vw);
  }
}
/*END GLOBAL*/

/*main*/
.main-lang {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, rgb(255,255,255), rgba(255,255,255,0)) 10%, url(/assets/img/main/i.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
}
.main-lang>div {
  margin: auto 30px;
}

.label-container {
  position: relative;
}

.org-label {
  text-align: left;
  /*font-family: ;*/
}
.org-label>h1 {
  width: 100%;
}

.org-label-blue {
  color: blue;
}

.org-label-red {
  color: red;
}
.org-label>h3 {
  font-family: 'Roboto Thin', arial;
  font-size: calc(1em + 2vw);
  font-weight: 600;
  color: #333;
}
/*end main*/

/*six-reasons*/
.six-reasons {
  padding: 3rem 0 3rem 0;
}
/*end six-reasons*/

/*ready-solutions*/
.ready-solutions {
  padding: 3rem 0 3rem 0;
}
/*end ready-solutions*/

/*we-are-recommended*/
.we-are-recommended {
  padding: 3rem 0 3rem 0;
}
/*утв we-are-recommended*/

/*application-area*/
.application-area {
  padding: 3rem 0 3rem 0;
}
/*end application-area*/

/*reviews*/
.reviews {
  padding: 3rem 0 3rem 0;
}
.reviews-title {
  background: url(/assets/img/main/border.png) no-repeat center bottom;
  padding-bottom: 48px;
}
.review-card-img {
  max-width: 100px;
}
.reviews-card {
  background-color: rgba(255,255,255,0);
  padding: 0 7vw 0 7vw;
  border: none;
}
.review-card-content {
  text-align: center;
  font-size: 1em;
}
.reviews-card-uator {
  border-top: solid 1px #6f6f6f;
  border-bottom: solid 1px #6f6f6f;
}
@media (min-width: 768px) {
  .reviews-card-uator {
    width: 50%;
  }
}
/*end reviews*/
