.vw-100 {
  width: 100vw;
}
.news-title {
  font-size: calc(.7rem + 1vw);
  font-weight: 400;
  line-height: 1.2;
}
h1 {
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 400px) {
  h1 {
    font-size: calc(1.7rem + 1vw);
    line-height: 1.2;
  }
  .news-body {
    font-size: calc(0.6em + 0.5vw);
    line-height: 1.2;
  }
}
@media (max-width: 399px) {
  h1 {
    font-size: 1em;
    line-height: 1.2;
  }
  .news-body {
    font-size: 0.73em;
    line-height: 1.2;
  }
}
